<?xml version='1.0' encoding='utf-8'?>
<!-- 
Released under MIT License
-->

<!-- change the widget id to your id and update the version as appropriate -->
<widget id="com.antym.premium" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<!-- Edit to match the details of your app -->
    <name>premium</name>
    <description>
        A premium template written in jQuery Mobile for Cordova.
    </description>
    <author email="matt@antym.com" href="http://antym.com">
        Matt McGivney
    </author>
	<!-- END App Details -->

    <content src="index.html" />
    <access origin="*" />

	<!-- uses cordova plugin add org.apache.cordova.statusbar to make iOS7 statusbar look right-->
	<preference name="StatusBarOverlaysWebView" value="false" />
	<!-- edit this to the background color of your app -->
	<preference name="StatusBarBackgroundColor" value="#595b5b" />

</widget>
