<?xml version='1.0' encoding='utf-8'?>
<!-- 
The MIT License (MIT)

Copyright (c) 2014 Antym LLC

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<!-- change the widget id to your id and update the version as appropriate -->
<widget id="com.antym.premium" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<!-- Edit to match the details of your app -->
    <name>Premium jQM Mobile Template</name>
    <description>
        A template Apache Cordova application using jQuery Mobile.
    </description>
    <author email="matt@antym.com" href="http://antym.com">
        Matt McGivney
    </author>
	<!-- END App Details -->

    <content src="index.html" />
    <access origin="*" />

	<!-- uses cordova plugin add org.apache.cordova.statusbar to make iOS7 statusbar look right-->
	<preference name="StatusBarOverlaysWebView" value="false" />
	<!-- edit this to the background color of your app -->
	<preference name="StatusBarBackgroundColor" value="#595b5b" />

</widget>
